<div class="container">
	<div class="col-lg-12">
		<div class="col-sm-2">
			<%= image_tag @student.image_url %>
		</div>
		<div class="col-sm-9">
			<strong>Name: </strong><%= @student.name%><br>
			<strong>Contact: </strong><%= @student.contact%><br>
			<strong>Address: </strong><%= @student.adderss%><br>
			<strong>Class: </strong><%= @student.section.name%>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-2">
				<b>Issue Date:</b>
			</div>
			<div class="col-sm-2">
				<b>Submit Date:</b>
			</div>
			<div class="col-sm-2">
				<b>Submit On:</b>
			</div>
			<div class="col-sm-4">
				<b>Book Name:</b>
			</div>
			<div class="col-sm-1">
				<b>Rteurned After:</b>
			</div>
			<div class="col-sm-1">
				<b>Fine</b>
			</div>
		</div>
		<div class="col-sm-12">
			<div style="border: 1px solid;"></div>
			<% @student.student_library_statuses.each do |sls| %>
				<div class="col-sm-2">
					<%= sls.issue_date %>
				</div>
				<div class="col-sm-2">
					<%= sls.submission_date %>
				</div>
				<div class="col-sm-2">
					<%= sls.submitted_on %>
				</div>
				<div class="col-sm-4">
					<%= sls.book.name %>
				</div>
				<div class="col-sm-1">
					<%= sls.returned_after %>
				</div>
				<div class="col-sm-1">
					Rs. <%= sls.fine_charge %>
				</div><br>
			<% end %>
		</div>
	</div>
	<%= link_to "Back", section_path(@student.section_id), class: 'btn btn-primary ' %>
</div>