<!DOCTYPE html>
<html>
<head>
  <title>App1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="padding-top:20px;">
	<% if current_user %>
		<%= link_to 'Sign Out',destroy_user_session_path,:method => :delete , :class => 'btn btn-xs btn-info'%>
	<% else %>
		<%= link_to 'Sign In','users/sign_in', :class => 'btn btn-xs btn-info'%>
	<% end %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
